<?xml version="1.0" encoding="UTF-8"?>
<twitter>
	<consumerKey>24dhKjJi7yahoNyDNZXg</consumerKey>
	<consumerSecret>0GbY7yiUC1QzJwFrxXEAl9sYepB3rmppwl64fDuxpFE</consumerSecret>
	<accessToken>1326257990-Gf4z4xW6tvvbR8KjxSML9Muhf9hgKMuO1mksdQI</accessToken>
	<accessSecret>IENNPq6aTVJXkS5fKq70lJ6ZVceIkR704VJgMVzmudxK9</accessSecret>
</twitter>